@charset "utf-8";
body {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 160%;
	font-weight: normal;
	color: #FFF;
	background-color: #063;
	background-position:left;
	background-attachment:fixed;
	background-repeat:no-repeat;
	text-align: center;
	margin: 0px;
}
.usuarioconectado {
    float:left; 
	position:fixed;
	background-image: url(../imagenes/transparencia.png);
	padding:4px;
	font-size:12px;
	
}
.usuarioconectado2 {
	float:left;
	position:fixed;
	background-image: url(../imagenes/transparencia.png);
	padding:4px;
	font-size:12px;
	visibility: hidden;	
}
.loginiz {
	float: right;
	font-size:10px;
	text-align:left;
	vertical-align: middle;
	padding-right:40px;

}
input{
	padding: 5%;
	vertical-align: middle;
	font-size:130%;

}
.equisdecerrar {
	text-align:right;
	font-size:16px;
	padding-left:90%;
	padding-right: 0px;
}
.cabecera {
	text-align:left;
	background-image: url(../imagenes/transparencia.png);
	background-color: #060;
	padding: 10px;
	vertical-align: middle;
	border-bottom:#FFF thin solid;
	position:fixed;
	width:100%;
}
.cabecera_vieja {
	text-align:left;
	background-image: url(../imagenes/transparencia.png);
	background-color: #060;
	padding: 10px;
	vertical-align: middle;
	border-bottom:#FFF thin solid;
	width:100%;
}
.contenedora {
	margin:0 auto;
	background-image:url(../imagenes/trans.png);
	background-repeat:repeat;
	background-color: #063;
	text-align:center;
	width: 99%;
	min-height:99%;
	border: 2px solid #FFF;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
}
.tablaresultados {
    width:auto; 
	cellspacing: 3px; 
	cellpadding: 0px;
	margin: 0 auto;
	 background-color: #063;
	 border: thin solid #FFF;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
}
.tablaclasificacion {
	 width: 569px; 
	 height: auto; 
	 cellpadding: 2px; 
	 cellspacing: 3px;
	 padding: 5px;
	 margin: 0 auto;
	 background-color: #063;
	 border: thin solid #FFF;
	 color:#FFF;
	 -moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
}

.botones, .botones a, p .botones {
	padding-bottom:5%;
	padding-top: 5%;
	padding-left:10%;
	padding-right:10%;
	background-color: #0C0;
	text-decoration:none;
	font-size:130%;
	color:#FFF;
	border: thin none #FFF;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
}
.botones:link {
	background-color: #0C0;
	text-decoration:none;
	color:#FFF;
}
.botones:hover {
	background-color: #0F0;
	text-decoration:none;
}
.botones:active {
	background-color: #0C0;
	text-decoration:none;
	color:#FFF;
}
.botones:visited {
	text-decoration:none;
	color:#FFF;
}
.botoneschicos, .botoneschicos a, p .botoneschicos {
	padding-bottom:5px;
	padding-top: 5px;
	padding-left:10px;
	padding-right:10px;
	background-color: #0C0;
	text-decoration:none;
	font-size:10px;
	color:#FFF;
	border: thin none #FFF;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
}
.botoneschicos:link {
	background-color: #0C0;
	text-decoration:none;
	color:#FFF;
}
.botoneschicos:hover {
	background-color: #0F0;
	text-decoration:none;
	color:#FFF;
}
.botoneschicos:active {
	background-color: #0C0;
	text-decoration:none;
	color:#FFF;
}
.botoneschicos:visited {
	text-decoration:none;
	color:#FFF;
}
input.botoneschicos  {
	font-size:10px;
	vertical-align:baseline;
	padding:3px;

}
.botoneschicosrojos, .botoneschicosrojos a, p .botoneschicosrojos {
	padding-bottom:5px;
	padding-top: 5px;
	padding-left:10px;
	padding-right:10px;
	background-color: #F00;
	text-decoration:none;
	font-size:10px;
	color:#FFF;
	border: thin none #FFF;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
}
.botoneschicosrojos:link {
	background-color: #F00;
	text-decoration:none;
	color:#FFF;
}
.botoneschicosrojos:hover {
	background-color: #F63;
	text-decoration:none;
	color:#FFF;
}
.botoneschicosrojos:active {
	background-color: #F90;
	text-decoration:none;
	color:#FFF;
}
.botoneschicosrojos:visited {
	text-decoration:none;
	color:#FFF;
}
.letrasgrandes {
	font-size:16px;
	padding:7px;
}
.letrasgrandesnaranjas {
	font-size:16px;
	padding:7px;
	color:#F90;
}
.letrasmasgrandes {
	font-size:20px;
	padding:7px;
	font-weight:bolder;
}
.letraschicas {
	font-size:13px;
}
.presentacion {
	font-size:18px;
	padding:27px;
	width: 500px;
	margin:0 auto;
	border-top-width: 16px;
	border-right-width: 16px;
	border-bottom-width: 16px;
	border-left-width: 16px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: none;
	border-left-style: solid;
	border-top-color: #FFF;
	border-right-color: #FFF;
	border-bottom-color: #FFF;
	border-left-color: #FFF;
	color: #000;
	font-weight:bolder;
	background-image:url(../imagenes/red.png);
}
.areachica {
	height: auto;
	border-top-width: 2px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
	border-top-style: solid;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	border-top-color: #FFF;
	border-right-color: #FFF;
	border-bottom-color: #FFF;
	border-left-color: #FFF;
	margin:0 auto;
}
.final {
	clear:both;
	font-size:12px;
	padding: 10px;
	border-top-width: thin;
	border-right-width: thin;
	border-bottom-width: thin;
	border-left-width: thin;
	border-top-style: solid;
	border-top-color: #FFF;
	border-right-color: #FFF;
	border-bottom-color: #FFF;
	border-left-color: #FFF;	
	background-image: url(../imagenes/transparencia.png);
	background-color: #060;
}
a:link {
	text-decoration:none;
	color: #FC0;
}
a:hover {
	text-decoration:none;
	color: #FC6;
}
a:visited {
	text-decoration:none;
	color: #F90;
}
a:active {
	text-decoration:none;
	color: #FC3;
}
.cachaca {
	width: 100px;
	margin:0 auto;
	text-align:center;

}
.fixture {
	background-color:#FFF;
	color:#000;
	width: 200px;
	font-size: 9px;
	padding: 5px;
	border: thin solid #000;
}
.lineavertical {
	border-top-width: thin;
	border-right-width: thin;
	border-bottom-width: thin;
	border-left-width: thin;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: solid;
	border-top-color: #FFF;
	border-right-color: #FFF;
	border-bottom-color: #FFF;
	border-left-color: #FFF;
}
.lineaderecha {
	border-top-width: thin;
	border-right-width: thin;
	border-bottom-width: thin;
	border-left-width: thin;
	border-top-style: none;
	border-right-style: solid;
	border-bottom-style: none;
	border-left-style: none;
	border-top-color: #FFF;
	border-right-color: #FFF;
	border-bottom-color: #FFF;
	border-left-color: #FFF;
}
.lineariba {
	border-top-width: thin;
	border-right-width: thin;
	border-bottom-width: thin;
	border-left-width: thin;
	border-top-style: solid;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	border-top-color: #FFF;
	border-right-color: #FFF;
	border-bottom-color: #FFF;
	border-left-color: #FFF;
}
.linea2lados {
	border-top-width: thin;
	border-right-width: thin;
	border-bottom-width: thin;
	border-left-width: thin;
	border-top-style: none;
	border-right-style: solid;
	border-bottom-style: none;
	border-left-style: solid;
	border-top-color: #FFF;
	border-right-color: #FFF;
	border-bottom-color: #FFF;
	border-left-color: #FFF;
}
.comentarios {
	background-image: url(../imagenes/transparencia.png);
	font-size:12px;
	color: #FFF;
	text-align:left;
	vertical-align:top;
	padding-top: 1px;
	padding-right: 10px;
	padding-bottom: 2px;
	padding-left: 10px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
}
.desplazamiento {
	height: 300px;
    width: 90%; 
	overflow: auto;
	background-color: #063;
	margin: 0 auto;
	padding-top: 5px;
	padding-right: 10px;
	padding-bottom: 5px;
	padding-left: 10px;
	border: thin solid #FFF;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
	
}
.letraschicascomentarios {
	font-size:13px;
	padding: 5px;
}
.FIFA {
	margin: 0 auto;
	background-image: url(../imagenes/transparencia.png);
	padding-top: 15px;
	padding-bottom: 15px;
	padding-left: 0 px;
	padding-right:0 px;
	font-size:12px;
	width: 780px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
}
.nada, .nada a:link, .nada a:hover, .nada a:active, .nada a:visited {
	border: thin none #000000;
	text-decoration: none;
}
.eradio {
	background-color:#033;

}
.visible {
	visibility: visible;
	display: inherit;
}

.invisible {
	visibility:hidden;
	display:none;
}
.puntoverde {
	background-color:#0F0;
	border-radius:5px;
	height:10px;
	width:10px;
	float:left;
}
option	{
	background-color:#0F0;
	color:#ffffff;
}
